.app-container {
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
  min-height: 100vh;
  padding: 30px;
}
.logo {
  width: 82px;
  margin-bottom: 20px;
}
.addNewPassword-container {
  background-color: #5763a5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.card-container {
  background-color: #454f84;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.sm-img-1 {
  width: 300px;
}

.lg-img-1 {
  display: none;
}
@media (min-width: 768px) {
  .lg-img-1 {
    display: flex;
  }

  .sm-img-1 {
    display: none;
  }
}
.heading {
  color: #ffffff;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
  margin-top: 5px;
}
.input-logo {
  width: 16px;
  height: 16px;
  margin: 10px;
}
.input-container {
  background-color: #ffffff;
  width: 100%;
  margin-bottom: 15px;
  height: 38px;
  display: flex;
  flex-direction: row;
  border-radius: 6px;
}
.input {
  border: 0px;
  border-left: 1px solid #94a3b8;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  padding: 5px;
  background-color: transparent;
  outline: none;
}
.add-btn {
  color: #ffffff;
  background-color: #0b69ff;
  border: 0px;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  font-size: 12px;
  align-self: flex-end;
  width: 70px;
  margin-top: 6px;
}
/*password */

.passwordList-container {
  background-color: #5763a5;
  padding-left: 15px;
  padding-top: 20px;
  border-radius: 5px;
}
.passwordSearch-count {
  display: flex;
  justify-content: space-between;
}

.password-heading {
  color: #ffffff;
  font-family: 'roboto';
  font-size: 14px;

  font-weight: 800;
}
.passwordCount {
  display: flex;
}
.count {
  border: 1px solid #b6c3ca;
  margin-top: 6px;
  margin-left: 10px;
  color: #ffffff;
  background-color: transparent;
  width: 20px;
  border-radius: 6px;

  text-align: center;
}
.search-element {
  background-color: #ffffff;
  width: 100px;
  height: 20px;
  display: flex;
  margin-top: 10px;
}
.search-img {
  width: 20px;
  height: 20px;
  margin: 3px;
}
.search-bar {
  width: 60px;
  outline: none;
  border: none;
  border-left: 1px solid #94a3b8;
}
.checkbox {
}
.show-password {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}
.checkbox-label {
  color: white;
}
.no-passwords {
  width: 200px;
}
.no-password-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-pass-text {
  color: #ffffff;
  font-family: 'roboto';
  font-size: 20px;
}
.stored-password {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.each-password-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 200px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 30px;
}
.list-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  color: #ffffff;
}
.initial {
  border-radius: 100%;
  border: 0px;
  color: #ffffff;
  width: 24px;
  text-align: center;
  height: 24px;
}
.a {
  background-color: #7683cb;
}
.b {
  background-color: #f59e0b;
}
.c {
  background-color: #10b981;
}
.d {
  background-color: #f97316;
}
.e {
  background-color: #14b8a6;
}
.f {
  background-color: #b91c1c;
}

.web-text {
  font-size: 20px;
}
.username-text {
  font-size: 18px;
}
.stars {
  width: 80px;
}
.password-text {
}
.del-img {
  width: 20px;
  height: 20px;
}

.delete {
  background-color: transparent;
  border: 0px;
  outline: none;
  margin-left: auto;
  width: 20px;
  height: 20px;
}
